@import "reset.css";

body {
    width: 1500px;
}

.main_banner {
    width: 1500px;
    height: 100vh;
    background-image: url(./img/main-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.screen_header {
    width: 1500px;
    height:100px;
    display:flex;
    justify-content: space-between;
}

.screen_header div {
}

.main_banner button {
    width: 200px;
    height: 200px;
}